In [2]:
import pickle
with open('ctypes_data_all_missions.pkl', 'rb') as f:
    df = pickle.load(f)

In [3]:
# Droping indexes.
df.reset_index(drop=True, inplace=True)
df

,dt,CTypes,mission
0,2017-01-22 00:10:00,"Cb, Cu med., Sc, St fr., Sc cast.",ABP42
1,2017-01-22 01:00:00,"Sc und., Cu cong., As neb. op., Sc trans.",ABP42
2,2017-01-22 02:00:00,"Sc und., Sc cast., As neb. op., Ac op.",ABP42
3,2017-01-22 03:00:00,"As neb. op., Sc cast., Ac lent.",ABP42
4,2017-01-22 04:00:00,"As neb. op., Sc cast., Cu med., Ci unc., Ci in...",ABP42
5,2017-01-22 05:00:00.015000,"Cu hum., Cu med., Sc und., As neb. op.",ABP42
6,2017-01-22 06:00:00.020000,"Cu cong., As neb. op.",ABP42
7,2017-01-22 07:00:00.025000,"Cu med., Cu cong., Ci sp., Ci fib.",ABP42
8,2017-01-22 08:00:00.030000,"Cu med., Ci fib., Cs neb. trans., Cs fib., Ci ...",ABP42
9,2017-01-22 09:00:00.035000,"Cu fr., Cu med., As neb. op., As neb. trans., ...",ABP42
10,2017-01-22 10:00:00.040000,"Cs fib., Ci unc., Ci sp., Ci int., Ac op.",ABP42
11,2017-01-22 11:00:00.045000,"Ci vert., Ci int., Ci unc., Cs neb., As neb. o...",ABP42
12,2017-01-23 01:00:00,"Cu med., As neb. op.",ABP42
13,2017-01-23 02:00:00,"Sc und., As neb. op., St fr.",ABP42
14,2017-01-23 03:00:00,"Cu hum., Sc., As neb. pr.",ABP42
15,2017-01-23 04:00:00,"Ns, Sc",ABP42
16,2017-01-23 05:00:00,Ns,ABP42
17,2017-01-23 06:00:00,"Sc, Ns",ABP42
18,2017-01-23 07:00:00,"Sc, As neb. Pr.",ABP42
19,2017-01-23 08:00:00,"Sc, Ns, As neb. trans.",ABP42
20,2017-01-23 09:00:00,"Sc, As neb. trans., As neb. op., Ns",ABP42
21,2017-01-23 10:00:00,"Cu med., Sc, Ns, As neb. trans., Ac floc",ABP42
22,2017-01-23 11:00:00,"Sc, Ns, Ac floc.",ABP42
23,2017-01-24 01:00:00,"Ns, Sc und., Ac floc., Ac trans., Cu cong.",ABP42
24,2017-01-24 02:00:00,"Ns, Sc und., Ac floc., Ac trans., Cu cong.Ci v...",ABP42
25,2017-01-24 03:00:00,"Ci fib., Sc und., Ac floc., Ac trans., Cs fib....",ABP42
26,2017-01-24 04:00:00,"Ci fib., Ci vert., Cc floc., Cs fib., As neb. ...",ABP42
27,2017-01-24 05:00:00,"Ci int., Ci fib., Cs, As neb. op., Ci floc.",ABP42
28,2017-01-24 06:00:00,"Cs fib., As neb. op., Ci fib., Cc und., Ci sp.",ABP42
29,2017-01-24 07:00:00,"Cc und., As neb. op., Cs fib., Ci int., Ci fib...",ABP42
...,...,...,...
2887,2016-01-15 16:00:05,"Cb, Cu hum",ANS31
2888,2016-01-16 09:00:07,"Cu fr, Ac floc",ANS31
2889,2016-01-16 10:00:01,Ac floc,ANS31
2890,2016-01-16 11:00:05,"Cu fr, Ac floc, Ci vert",ANS31
2891,2016-01-16 12:00:09,"Cu fr, Ac floc",ANS31
2892,2016-01-16 13:00:03,Sc trans,ANS31
2893,2016-01-16 14:00:07,Sc trans,ANS31
2894,2016-01-16 15:00:02,Sc trans,ANS31
2895,2016-01-16 16:00:06,"Sc trans, Ci floc",ANS31
2896,2016-01-17 08:00:01,Sc trans,ANS31
2897,2016-01-17 09:00:05,Cu fr,ANS31
2898,2016-01-17 10:00:10,Sc cuf,ANS31
2899,2016-01-17 11:00:03,Cu fr,ANS31
2900,2016-01-17 12:00:07,Cu fr,ANS31
2901,2016-01-17 13:00:02,Cu hum,ANS31
2902,2016-01-17 14:00:06,Cu hum,ANS31
2903,2016-01-17 15:00:00,"Cu hum, Ci fib",ANS31
2904,2016-01-17 16:00:04,Cu fr,ANS31
2905,2016-01-18 08:00:09,"Cu fr, Ci fib",ANS31
2906,2016-01-18 09:00:03,"Cu fr, Ac floc",ANS31
2907,2016-01-18 10:00:07,"Cu fr, Sc tans",ANS31
2908,2016-01-18 11:00:01,"Cu fr, Sc tans",ANS31
2909,2016-01-18 12:00:05,"Cu fr, Sc und",ANS31
2910,2016-01-18 13:00:09,Cu hum,ANS31
2911,2016-01-18 14:00:03,"Cu hum, Cu fr, Sc op",ANS31
2912,2016-01-18 15:00:08,"Cu fr, Sc op",ANS31
2913,2016-01-19 08:00:05,"Cu fr, Sc op",ANS31
2914,2016-01-19 09:00:09,Cu fr,ANS31
2915,2016-01-19 10:00:03,Sc op,ANS31
2916,2016-01-19 11:00:07,Sc op,ANS31

In [4]:
import re
import pandas as pd

# Find first entrance word to string and convert it to lower case.
types_string = df['CTypes'].str.split(",")
types_string = pd.Series([tuple({re.findall("\w+", w)[0].lower() for w in l if len(re.findall("\w+", w)) > 0}) for l in types_string])
types_string.reset_index(drop=True, inplace=True)
# Display unique sets of cloud types.
set(types_string)

{(),
 ('aa', 'cu', 'cs'),
 ('ac',),
 ('ac', 'as', 'ci', 'cc', 'cs'),
 ('ac', 'as', 'ci', 'cc', 'tract'),
 ('ac', 'as', 'ci', 'sc', 'cs'),
 ('ac', 'cb'),
 ('ac', 'ci', 'sc', 'cc', 'cs'),
 ('ac', 'cs'),
 ('ac', 'cu'),
 ('ac', 'cu', 'cb'),
 ('ac', 'cu', 'cs'),
 ('ac', 'cu', 'cs', 'cb'),
 ('ac', 'sc', 'ci', 'cc', 'cs'),
 ('as',),
 ('as', 'ac'),
 ('as', 'ac', 'aс'),
 ('as', 'ac', 'cs'),
 ('as', 'ac', 'cu'),
 ('as', 'ac', 'cu', 'cs'),
 ('as', 'ax', 'ac', 'cu'),
 ('as', 'cs'),
 ('as', 'cu'),
 ('as', 'cu', 'cs'),
 ('as', 'st'),
 ('as', 'st', 'ac'),
 ('aс', 'cs'),
 ('cb',),
 ('cb', 'as', 'ci', 'cc', 'cs'),
 ('cb', 'ns', 'ac', 'as', 'ci'),
 ('cb', 'ns', 'st', 'as', 'sc'),
 ('cc',),
 ('cc', 'ac'),
 ('cc', 'ac', 'cs'),
 ('cc', 'ac', 'cu'),
 ('cc', 'ac', 'cu', 'cs'),
 ('cc', 'ac', 'tract', 'cs'),
 ('cc', 'as', 'ac', 'cs'),
 ('cc', 'cs'),
 ('cc', 'cu'),
 ('cc', 'cu', 'cb'),
 ('cc', 'st'),
 ('cc', 'st', 'ac'),
 ('cc', 'st', 'cs'),
 ('ci',),
 ('ci', 'ac'),
 ('ci', 'ac', 'cs'),
 ('ci', 'ac', 'cu'),
 ('ci', 'ac', 'cu', 'cs'),
 ('ci', 'ac', 'cu', 'sc'),
 ('ci', 'ac', 'sc'),
 ('ci', 'acund'),
 ('ci', 'as'),
 ('ci', 'as', 'ac'),
 ('ci', 'as', 'ac', 'cs'),
 ('ci', 'as', 'cs'),
 ('ci', 'as', 'cu'),
 ('ci', 'as', 'cu', 'cs'),
 ('ci', 'as', 'sc'),
 ('ci', 'as', 'sc', 'cs'),
 ('ci', 'as', 'st', 'ac'),
 ('ci', 'as', 'st', 'cs'),
 ('ci', 'cast', 'as', 'ac'),
 ('ci', 'cc'),
 ('ci', 'cc', 'ac'),
 ('ci', 'cc', 'ac', 'cs'),
 ('ci', 'cc', 'ac', 'cu'),
 ('ci', 'cc', 'ac', 'sc'),
 ('ci', 'cc', 'as'),
 ('ci', 'cc', 'as', 'ac'),
 ('ci', 'cc', 'as', 'cs'),
 ('ci', 'cc', 'as', 'cu'),
 ('ci', 'cc', 'cb'),
 ('ci', 'cc', 'cs'),
 ('ci', 'cc', 'cu'),
 ('ci', 'cc', 'cu', 'cs'),
 ('ci', 'cc', 'int', 'cs'),
 ('ci', 'cc', 'sc'),
 ('ci', 'contrails'),
 ('ci', 'cs'),
 ('ci', 'cs', 'sc'),
 ('ci', 'cu'),
 ('ci', 'cu', 'cb'),
 ('ci', 'cu', 'cs'),
 ('ci', 'cu', 'cs', 'cb'),
 ('ci', 'cu', 'cs', 'sc'),
 ('ci', 'cu', 'sc'),
 ('ci', 'fib', 'as', 'tract'),
 ('ci', 'fr', 'cu'),
 ('ci', 'frnb', 'cu', 'cb'),
 ('ci', 'haze', 'cs'),
 ('ci', 'int'),
 ('ci', 'ns', 'as'),
 ('ci', 'ns', 'sc'),
 ('ci', 'sc'),
 ('ci', 'sc', 'cs'),
 ('ci', 'sp'),
 ('ci', 'st'),
 ('ci', 'st', 'ac'),
 ('ci', 'st', 'ac', 'cs'),
 ('ci', 'st', 'cs'),
 ('ci', 'tract'),
 ('ci', 'tract', 'cs'),
 ('ci', 'vert', 'cs'),
 ('ci', 'vert', 'int'),
 ('ci', 'vert', 'int', 'fibr'),
 ('ci', 'vert', 'sp'),
 ('cs',),
 ('cu',),
 ('cu', 'ac', 'as', 'cc', 'cs'),
 ('cu', 'ac', 'as', 'ci', 'cc'),
 ('cu', 'ac', 'as', 'ci', 'cs'),
 ('cu', 'ac', 'as', 'ci', 'sc'),
 ('cu', 'ac', 'as', 'ci', 'sc', 'cc'),
 ('cu', 'ac', 'ci', 'as', 'sc', 'cs'),
 ('cu', 'ac', 'ci', 'cc', 'cs'),
 ('cu', 'ac', 'ci', 'sc', 'cs'),
 ('cu', 'ac', 'sc', 'ci', 'cs'),
 ('cu', 'as', 'ci', 'cc', 'cs'),
 ('cu', 'as', 'ci', 'sc', 'cc'),
 ('cu', 'as', 'ci', 'sc', 'cs'),
 ('cu', 'cb'),
 ('cu', 'cb', 'ac', 'as', 'ci', 'sc'),
 ('cu', 'cb', 'ac', 'as', 'sc'),
 ('cu', 'cb', 'ac', 'ci', 'cs'),
 ('cu', 'cb', 'ac', 'ci', 'sc'),
 ('cu', 'cb', 'as', 'ci', 'cs'),
 ('cu', 'cb', 'ns', 'ac', 'as', 'sc'),
 ('cu', 'cb', 'sc', 'ci', 'cs'),
 ('cu', 'cb', 'st', 'ac', 'ci', 'cc', 'cs'),
 ('cu', 'ci', 'as', 'sc', 'cc'),
 ('cu', 'ci', 'as', 'sc', 'cc', 'cs'),
 ('cu', 'cs'),
 ('cu', 'ns', 'ac', 'as', 'sc'),
 ('cu', 'ns', 'ac', 'sc', 'as', 'ci'),
 ('cu', 'ns', 'fra', 'as', 'ci', 'sc', 'cc', 'hum'),
 ('cu', 'sc', 'as', 'ci', 'cs'),
 ('fog',),
 ('frnb', 'ac', 'cb'),
 ('frnb', 'ac', 'cu'),
 ('frnb', 'as'),
 ('frnb', 'as', 'ac', 'cu'),
 ('med', 'cu', 'ns', 'st', 'as', 'sc', 'hum'),
 ('ns',),
 ('ns', 'ac'),
 ('ns', 'ac', 'cs'),
 ('ns', 'ac', 'cu', 'cb'),
 ('ns', 'ac', 'frnb'),
 ('ns', 'ac', 'sc', 'cc', 'cs'),
 ('ns', 'as'),
 ('ns', 'as', 'ac'),
 ('ns', 'as', 'ac', 'cu'),
 ('ns', 'as', 'cu'),
 ('ns', 'as', 'frnb'),
 ('ns', 'as', 'st'),
 ('ns', 'cu', 'frnb'),
 ('ns', 'frnb'),
 ('ns', 'st'),
 ('ns', 'st', 'ac', 'as', 'sc'),
 ('ns', 'st', 'ci', 'sc', 'frnb', 'cs'),
 ('ns', 'st', 'fog'),
 ('sc',),
 ('sc', 'ac'),
 ('sc', 'ac', 'cb'),
 ('sc', 'ac', 'cs'),
 ('sc', 'ac', 'cu'),
 ('sc', 'ac', 'cu', 'cb'),
 ('sc', 'ac', 'cu', 'cs'),
 ('sc', 'as'),
 ('sc', 'as', 'ac'),
 ('sc', 'as', 'ac', 'cb'),
 ('sc', 'as', 'ac', 'ci'),
 ('sc', 'as', 'ac', 'cu'),
 ('sc', 'as', 'cb'),
 ('sc', 'as', 'ci'),
 ('sc', 'as', 'ci', 'ac'),
 ('sc', 'as', 'ci', 'cc', 'cs'),
 ('sc', 'as', 'cs'),
 ('sc', 'as', 'cu'),
 ('sc', 'as', 'cu', 'cs'),
 ('sc', 'as', 'st'),
 ('sc', 'as', 'st', 'ac'),
 ('sc', 'as', 'st', 'cb'),
 ('sc', 'cast', 'cuf'),
 ('sc', 'cb'),
 ('sc', 'cc'),
 ('sc', 'cc', 'ac'),
 ('sc', 'cc', 'ac', 'cu'),
 ('sc', 'cc', 'as', 'ac'),
 ('sc', 'cc', 'ci'),
 ('sc', 'cc', 'ci', 'ac'),
 ('sc', 'cc', 'ci', 'cu'),
 ('sc', 'cc', 'ci', 'st'),
 ('sc', 'cc', 'cs'),
 ('sc', 'cc', 'cu'),
 ('sc', 'cc', 'st'),
 ('sc', 'cc', 'st', 'ac'),
 ('sc', 'cc', 'st', 'cs'),
 ('sc', 'ci'),
 ('sc', 'ci', 'ac'),
 ('sc', 'ci', 'ac', 'cs'),
 ('sc', 'ci', 'ac', 'cu'),
 ('sc', 'ci', 'cs'),
 ('sc', 'ci', 'cu'),
 ('sc', 'ci', 'cu', 'cb'),
 ('sc', 'ci', 'cu', 'cs'),
 ('sc', 'ci', 'st'),
 ('sc', 'ci', 'st', 'cu'),
 ('sc', 'ci', 'tract', 'cs'),
 ('sc', 'cs'),
 ('sc', 'cs', 'cb'),
 ('sc', 'cu'),
 ('sc', 'cu', 'cb'),
 ('sc', 'cu', 'cs'),
 ('sc', 'cuf'),
 ('sc', 'frnb'),
 ('sc', 'frnb', 'ac', 'cu'),
 ('sc', 'frnb', 'st', 'ac'),
 ('sc', 'ns'),
 ('sc', 'ns', 'ac'),
 ('sc', 'ns', 'ac', 'cu'),
 ('sc', 'ns', 'ac', 'frnb'),
 ('sc', 'ns', 'as'),
 ('sc', 'ns', 'as', 'ac'),
 ('sc', 'ns', 'as', 'cu'),
 ('sc', 'ns', 'as', 'st'),
 ('sc', 'ns', 'cb'),
 ('sc', 'ns', 'ci'),
 ('sc', 'ns', 'ci', 'frnb'),
 ('sc', 'ns', 'cu'),
 ('sc', 'ns', 'cu', 'cb'),
 ('sc', 'ns', 'frnb'),
 ('sc', 'ns', 'st'),
 ('sc', 'ns', 'st', 'ac'),
 ('sc', 'ns', 'st', 'cs'),
 ('sc', 'ns', 'st', 'cu'),
 ('sc', 's'),
 ('sc', 'st'),
 ('sc', 'st', 'ac'),
 ('sc', 'st', 'ac', 'cu'),
 ('sc', 'st', 'cs'),
 ('sc', 'st', 'cu', 'cb'),
 ('scfr',),
 ('st',),
 ('st', 'ac'),
 ('st', 'ac', 'as', 'ci', 'cc', 'cs'),
 ('st', 'ac', 'as', 'ci', 'cs'),
 ('st', 'ac', 'as', 'ci', 'sc', 'cs'),
 ('st', 'ac', 'cs'),
 ('st', 'ac', 'cu'),
 ('st', 'ac', 'sc', 'ci', 'cc', 'cs'),
 ('st', 'as', 'ci', 'tract', 'cs'),
 ('st', 'ci', 'sc', 'cc', 'cs'),
 ('st', 'cu'),
 ('st', 'fr'),
 ('st', 'neb'),
 ('st', 'просветы'),
 ('tract',),
 ('trans', 'st', 'fr'),
 ('u', 'as', 'ac', 'cu'),
 ('vert', 'cc', 'as', 'ci', 'fib'),
 ('сc', 'st', 'cs')}

In [5]:
print(len(types_string))

2917

In [6]:
# Base 10 types:
ctypes = ['ci', 'cc', 'cs', 'ac', 'as', 'sc', 'st', 'ns', 'cu', 'cb']

In [7]:
import numpy as np
base_df = df.copy()
base_df[ctypes] = pd.DataFrame([[0] * 10], index=df.index)

In [8]:
for ct in ctypes:
    for i, cd in enumerate(types_string):
        if ct in cd:
            base_df.at[i, ct] = 1

In [9]:
base_df['sum'] = base_df[ctypes].sum(axis=1)
# Add class "not recognized"
base_df['nr'] = base_df['sum'].apply(lambda x: 1 if x == 0 else 0)
# exclude the data with class "not recognized"
base_df = base_df[base_df['nr'] != 1]
base_df

,dt,CTypes,mission,ci,cc,cs,ac,as,sc,st,ns,cu,cb,sum,nr
0,2017-01-22 00:10:00,"Cb, Cu med., Sc, St fr., Sc cast.",ABP42,0,0,0,0,0,1,1,0,1,1,4,0
1,2017-01-22 01:00:00,"Sc und., Cu cong., As neb. op., Sc trans.",ABP42,0,0,0,0,1,1,0,0,1,0,3,0
2,2017-01-22 02:00:00,"Sc und., Sc cast., As neb. op., Ac op.",ABP42,0,0,0,1,1,1,0,0,0,0,3,0
3,2017-01-22 03:00:00,"As neb. op., Sc cast., Ac lent.",ABP42,0,0,0,1,1,1,0,0,0,0,3,0
4,2017-01-22 04:00:00,"As neb. op., Sc cast., Cu med., Ci unc., Ci in...",ABP42,1,1,0,0,1,1,0,0,1,0,5,0
5,2017-01-22 05:00:00.015000,"Cu hum., Cu med., Sc und., As neb. op.",ABP42,0,0,0,0,1,1,0,0,1,0,3,0
6,2017-01-22 06:00:00.020000,"Cu cong., As neb. op.",ABP42,0,0,0,0,1,0,0,0,1,0,2,0
7,2017-01-22 07:00:00.025000,"Cu med., Cu cong., Ci sp., Ci fib.",ABP42,1,0,0,0,0,0,0,0,1,0,2,0
8,2017-01-22 08:00:00.030000,"Cu med., Ci fib., Cs neb. trans., Cs fib., Ci ...",ABP42,1,0,1,0,1,0,0,0,1,0,4,0
9,2017-01-22 09:00:00.035000,"Cu fr., Cu med., As neb. op., As neb. trans., ...",ABP42,1,0,1,0,1,0,0,0,1,0,4,0
10,2017-01-22 10:00:00.040000,"Cs fib., Ci unc., Ci sp., Ci int., Ac op.",ABP42,1,0,1,1,0,0,0,0,0,0,3,0
11,2017-01-22 11:00:00.045000,"Ci vert., Ci int., Ci unc., Cs neb., As neb. o...",ABP42,1,0,1,0,1,1,0,0,0,0,4,0
12,2017-01-23 01:00:00,"Cu med., As neb. op.",ABP42,0,0,0,0,1,0,0,0,1,0,2,0
13,2017-01-23 02:00:00,"Sc und., As neb. op., St fr.",ABP42,0,0,0,0,1,1,1,0,0,0,3,0
14,2017-01-23 03:00:00,"Cu hum., Sc., As neb. pr.",ABP42,0,0,0,0,1,1,0,0,1,0,3,0
15,2017-01-23 04:00:00,"Ns, Sc",ABP42,0,0,0,0,0,1,0,1,0,0,2,0
16,2017-01-23 05:00:00,Ns,ABP42,0,0,0,0,0,0,0,1,0,0,1,0
17,2017-01-23 06:00:00,"Sc, Ns",ABP42,0,0,0,0,0,1,0,1,0,0,2,0
18,2017-01-23 07:00:00,"Sc, As neb. Pr.",ABP42,0,0,0,0,1,1,0,0,0,0,2,0
19,2017-01-23 08:00:00,"Sc, Ns, As neb. trans.",ABP42,0,0,0,0,1,1,0,1,0,0,3,0
20,2017-01-23 09:00:00,"Sc, As neb. trans., As neb. op., Ns",ABP42,0,0,0,0,1,1,0,1,0,0,3,0
21,2017-01-23 10:00:00,"Cu med., Sc, Ns, As neb. trans., Ac floc",ABP42,0,0,0,1,1,1,0,1,1,0,5,0
22,2017-01-23 11:00:00,"Sc, Ns, Ac floc.",ABP42,0,0,0,1,0,1,0,1,0,0,3,0
23,2017-01-24 01:00:00,"Ns, Sc und., Ac floc., Ac trans., Cu cong.",ABP42,0,0,0,1,0,1,0,1,1,0,4,0
24,2017-01-24 02:00:00,"Ns, Sc und., Ac floc., Ac trans., Cu cong.Ci v...",ABP42,0,0,0,1,0,1,0,1,1,0,4,0
25,2017-01-24 03:00:00,"Ci fib., Sc und., Ac floc., Ac trans., Cs fib....",ABP42,1,1,1,1,0,1,0,0,0,0,5,0
26,2017-01-24 04:00:00,"Ci fib., Ci vert., Cc floc., Cs fib., As neb. ...",ABP42,1,1,1,0,1,1,0,0,0,0,5,0
27,2017-01-24 05:00:00,"Ci int., Ci fib., Cs, As neb. op., Ci floc.",ABP42,1,0,1,0,1,0,0,0,0,0,3,0
28,2017-01-24 06:00:00,"Cs fib., As neb. op., Ci fib., Cc und., Ci sp.",ABP42,1,1,1,0,1,0,0,0,0,0,4,0
29,2017-01-24 07:00:00,"Cc und., As neb. op., Cs fib., Ci int., Ci fib...",ABP42,1,1,1,0,1,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,2016-01-15 16:00:05,"Cb, Cu hum",ANS31,0,0,0,0,0,0,0,0,1,1,2,0
2888,2016-01-16 09:00:07,"Cu fr, Ac floc",ANS31,0,0,0,1,0,0,0,0,1,0,2,0
2889,2016-01-16 10:00:01,Ac floc,ANS31,0,0,0,1,0,0,0,0,0,0,1,0
2890,2016-01-16 11:00:05,"Cu fr, Ac floc, Ci vert",ANS31,1,0,0,1,0,0,0,0,1,0,3,0
2891,2016-01-16 12:00:09,"Cu fr, Ac floc",ANS31,0,0,0,1,0,0,0,0,1,0,2,0
2892,2016-01-16 13:00:03,Sc trans,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2893,2016-01-16 14:00:07,Sc trans,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2894,2016-01-16 15:00:02,Sc trans,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2895,2016-01-16 16:00:06,"Sc trans, Ci floc",ANS31,1,0,0,0,0,1,0,0,0,0,2,0
2896,2016-01-17 08:00:01,Sc trans,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2897,2016-01-17 09:00:05,Cu fr,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2898,2016-01-17 10:00:10,Sc cuf,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2899,2016-01-17 11:00:03,Cu fr,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2900,2016-01-17 12:00:07,Cu fr,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2901,2016-01-17 13:00:02,Cu hum,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2902,2016-01-17 14:00:06,Cu hum,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2903,2016-01-17 15:00:00,"Cu hum, Ci fib",ANS31,1,0,0,0,0,0,0,0,1,0,2,0
2904,2016-01-17 16:00:04,Cu fr,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2905,2016-01-18 08:00:09,"Cu fr, Ci fib",ANS31,1,0,0,0,0,0,0,0,1,0,2,0
2906,2016-01-18 09:00:03,"Cu fr, Ac floc",ANS31,0,0,0,1,0,0,0,0,1,0,2,0
2907,2016-01-18 10:00:07,"Cu fr, Sc tans",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2908,2016-01-18 11:00:01,"Cu fr, Sc tans",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2909,2016-01-18 12:00:05,"Cu fr, Sc und",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2910,2016-01-18 13:00:09,Cu hum,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2911,2016-01-18 14:00:03,"Cu hum, Cu fr, Sc op",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2912,2016-01-18 15:00:08,"Cu fr, Sc op",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2913,2016-01-19 08:00:05,"Cu fr, Sc op",ANS31,0,0,0,0,0,1,0,0,1,0,2,0
2914,2016-01-19 09:00:09,Cu fr,ANS31,0,0,0,0,0,0,0,0,1,0,1,0
2915,2016-01-19 10:00:03,Sc op,ANS31,0,0,0,0,0,1,0,0,0,0,1,0
2916,2016-01-19 11:00:07,Sc op,ANS31,0,0,0,0,0,1,0,0,0,0,1,0

In [10]:
# Statistics of classes.
base_df.sum()
# The most frequent is "sc" and the rearest is "cb"

ci      678
cc      182
cs      367
ac      637
as      362
sc     1090
st      523
ns      281
cu      956
cb       93
sum    5169
nr        0
dtype: int64

In [13]:
import os

# Find all pics of clouds from expeditions.
storage_path = "/storage/kubrick/krinitsky/DASIO"

# Waiting 5 mins...
files_path = []
for addr, dirs, files in os.walk(storage_path):
    if not dirs:
        for file in files:
            if file.endswith(".jpg"):
                files_path.append(os.path.join(addr, file))

KeyboardInterrupt:

In [ ]:
len(files_path)

In [184]:
# Save paths.
# with open('picture_paths.pkl', 'wb') as fp:
    # pickle.dump(files_path, fp)
# Open again.
with open ('picture_paths.pkl', 'rb') as fp:
    files_path = pickle.load(fp)

In [185]:
files_path[:10]

['/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T14-51-41devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T11-20-57devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T15-07-02devID2.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T09-46-15devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T14-32-41devID2.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T11-02-37devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T06-20-51devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T09-42-55devID2.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T06-59-52devID1.jpg',
 '/storage/kubrick/krinitsky/DASIO/AMK70/snapshots-2017-10-08/img-2017-10-08T09-23-55devID2.jpg']

In [14]:
base_df.loc[:, 'dt'] = pd.to_datetime(base_df.loc[:, 'dt'])

In [15]:
for ct in ctypes:
    base_df.loc[:, ct] = base_df.loc[:, ct].astype("category")

In [16]:
base_df.reset_index(drop=True, inplace=True)
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774 entries, 0 to 2773
Data columns (total 15 columns):
dt         2774 non-null datetime64[ns]
CTypes     2774 non-null object
mission    2774 non-null object
ci         2774 non-null category
cc         2774 non-null category
cs         2774 non-null category
ac         2774 non-null category
as         2774 non-null category
sc         2774 non-null category
st         2774 non-null category
ns         2774 non-null category
cu         2774 non-null category
cb         2774 non-null category
sum        2774 non-null int64
nr         2774 non-null int64
dtypes: category(10), datetime64[ns](1), int64(2), object(2)
memory usage: 136.5+ KB

In [17]:
base_df.groupby(['sum']).count().CTypes
# The number of classes in the snapshot is distributed in a natural order.

sum
1    1347
2     771
3     423
4     167
5      54
6      11
7       1
Name: CTypes, dtype: int64

In [18]:
files_path = set(files_path)

In [19]:
pics = list()
for path in files_path:
    dict_p = dict()
    dict_p['Mission'] = os.path.basename(os.path.dirname(os.path.dirname(path)))
    dict_p['Date_time'] = pd.to_datetime(os.path.basename(path)[4:-10], format='%Y-%m-%dT%H-%M-%S')
    dict_p['Full_path'] = path
    pics.append(dict_p)

In [20]:
df_pics = pd.DataFrame(pics)

In [21]:
df_pics = df_pics.drop_duplicates()
df_pics["Mission"].replace('snapshots-2015-12-28', 'ANS31', inplace=True)
df_pics.shape

(249597, 3)

In [22]:
df_pics.sort_values(by=['Date_time'], inplace=True)
base_df.sort_values(by=['dt'], inplace=True)

In [23]:
full_df = pd.merge_asof(df_pics, base_df, left_on='Date_time', right_on='dt', tolerance=pd.Timedelta(minutes=5))
full_df.dropna(subset=['dt'], inplace=True)

In [24]:
full_df.shape

(16644, 18)

In [25]:
full_df = full_df[["Full_path"] + ctypes]
# Droping indexes.
df.reset_index(drop=True, inplace=True)

In [26]:
# Save DataFrame.
with open('df_10types.pkl', 'wb') as fp:
    pickle.dump(full_df, fp)